= simple_form_for(@item) do |f|
  = f.error_notification

  .form-inputs
    = f.input :classe
    = f.input :tombamento
    = f.input :descricao
    = f.input :localizacao
    = f.input :valor_aquisicao
    = f.input :dt_aquisicao, as: :date, order: [:day, :month, :year]
    = f.input :ec
    = f.input :pub
    = f.input :evf
    = f.input :fr
    = f.input :valor_mercado
    = f.input :vbr
    = f.input :vr
    = f.input :nv

  .form-actions
    = f.button :submit, value: 'Salvar'
