%h4 Bens não localizados fisicamente
- i = 0
= link_to 'Novo Item', new_item_path
%table.table.table-condensed.table-striped#table-filtros.table-bordered.table-hover
  %thead
    %tr
      %th Nº
      %th Classe
      %th Tombamento
      %th Descricao
      %th{"filter-type" => "ddl"} Orgão
      %th{"filter-type" => "ddl"} Localizacao
      %th{class: 'tr_p'} Valor Aq.
      %th Data Aq.
      %th{"filter" => "false"} EC
      %th{"filter" => "false"} PUB
      %th{"filter" => "false"} EVF
      %th{"filter" => "false"} FR
      %th Valor M.
      %th{"filter" => "false"} VBR
      %th{"filter" => "false"} VR
      %th{"filter" => "false"} NV
      %th{"filter" => "false"}
      %th{"filter" => "false"}
      %th{"filter" => "false"}
  %tbody
    - @itens.each do |item|
      %tr
        %td= i += 1
        %td= item.classe
        %td= item.tombamento
        %td= item.descricao
        %td SEPOG
        %td= item.localizacao
        %td{class: "table-filtros_filter_6"}= item.valor_aquisicao
        %td= item.dt_aquisicao.strftime('%d/%m/%y')
        %td= item.ec
        %td= item.pub
        %td= item.evf
        %td= item.fr
        %td= item.valor_mercado
        %td= item.vbr
        %td= item.vr
        %td= item.nv
        %td
          = link_to item do
            %i.icon-search
        %td
          = link_to edit_item_path(item) do
            %i.icon-edit
        %td
          = link_to item, :method => :delete, :data => { :confirm => 'Are you sure?' } do
            %i.icon-trash

%br

= link_to 'Novo Item', new_item_path

