%p#notice= notice

%p
  %b Classe:
  = @item.classe
%p
  %b Tombamento:
  = @item.tombamento
%p
  %b Descricao:
  = @item.descricao
%p
  %b Localizacao:
  = @item.localizacao
%p
  %b Valor aquisicao:
  = @item.valor_aquisicao
%p
  %b Dt aquisicao:
  = @item.dt_aquisicao
%p
  %b Ec:
  = @item.ec
%p
  %b Pub:
  = @item.pub
%p
  %b Evf:
  = @item.evf
%p
  %b Fr:
  = @item.fr
%p
  %b Valor mercado:
  = @item.valor_mercado
%p
  %b Vbr:
  = @item.vbr
%p
  %b Vr:
  = @item.vr
%p
  %b Nv:
  = @item.nv

= link_to 'Editar', edit_item_path(@item)
\|
= link_to 'Voltar', itens_path
