/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.row-titulo {width: 395px !important; height: 70px; margin: 0 auto; margin-top: 10px;}
.titulo {margin-top:10px; margin-bottom:10px; float: left; min-width: 200px;}
.titulo img {float: left; margin-top: 3px;}
.texto_projeto {float: right; margin-left: 5px;}
.nome_projeto {margin: 0 auto; font-size: 19px; line-height: 26px;}
.pmf {font-size: 14px;}
body , input, select{
	font-size: 11px !important;
}
#table-filtros_filter_6 , .table-filtros_filter_6, #table-filtros_filter_4 {
	width: 40px !important;
}

#table-filtros_filter_0, #table-filtros_filter_1 {
	width: 15px !important;
}
.control-group {
	margin-bottom: -10px !important;
}

input{
	height: 16px !important;
	width: 70% !important;
}

select {
	height: 26px !important;
	min-width:  60px;
}