<!DOCTYPE html>
%html
  %head>
    %title Inventario
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .navbar
      .navbar-inner.navbar-topo
        .container.container-topo
          .titulo
            = image_tag "logo-fortaleza.png"
            .texto_projeto
              %h4.nome_projeto Gestão de Bens
              %span.pmf Prefeitura de Fortaleza    

    .container-fluid
      .div.row-fluid
        = yield